@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-bg-clr: #070C13;
    --primary-font-clr: #c2cee3;
    --secondary-font-clr: #6A80A6;
  }
}

@media screen and (width >= 1280px) {
  #sa-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "list info";
    row-gap: 0;
    height: fit-content;
    column-gap: 4rem;
  }
}